<div class="login_page">
  <div class="header">
    Please log in:
  </div>
  <div class="form">

    <input type="text" placeholder="Username" maxlength="50" class="textbox"/>
    <br/>
    <input type="password" placeholder="Password" maxlength="50" class="textbox"/>
    <br/>
    <input type="button" value="Login" class="button" />
    <input type="button" value="Register" class="button"/>
  </div>
</div>